body {
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
}
.hero::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?cs=srgb&dl=pexels-craig-adderley-1563356.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: .6;
}
h1, p {
    margin: 0 auto 2px auto;
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
}

form { 
    position: relative;
    width: 100%;
    min-width: 100px;
    max-width: 800px;
    align-content: center;
    margin: 0 auto;
    background-color: rgba(131, 46, 46, .6);
    border-radius: 10px;
    padding: 10px 0;
}

label {
    display:block;
    margin: 4px 0;
}

input, textarea, select {
    background-color: rgb(31, 29, 29);
    width: 100%;
    color: white;
    min-height: 2em;
    margin: 10px 0;
    border-color: black;
}

::placeholder {
    color: white;
}

#dropdown {
    color: white;
}

.inline { 
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }

fieldset {
    padding: 10px 50px;
    border: none;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    border-color: white;
    min-width: 300px;
    border-radius: 10px;
}